<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>

<body>
    <main id="register-login-main">
        <form class="form">
            <div class="title">Forum.01,<br><span>register to continue</span></div>
            <input class="input" name="username" placeholder="username" type="username">
            <input class="input" name="email" placeholder="Email" type="email">
            <input class="input" name="password" placeholder="Password" type="password">

            <button class="button-confirm">Let`s go →</button>
        </form>

    </main>
</body>

</html>