{{define "header"}}
<div id="logo">
    <img src="/static/img/forum_logo.gif" alt="logo">
</div>
<div id="online">
    <h4>mamadbah</h4>
    <p>bahmamadoubobosewa@gmail.com</p>
</div>
<nav>
    <span>
        <a href="/create">Ajouter un post</a>
    </span>
    <span>
        <a href="/">Liste Postes</a>
    </span>
    <span id="logout">
        <a href="#">Logout</a>
    </span>
</nav>
{{end}}